

#footnote{
  background-color: rgb(38, 13, 175);
  color: black;
  padding: 20px;
  text-align: left;
}

.zee{
    background-color: tomato;
    color: white;
    padding: 10px;
  }

  .topnav {
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: white;
  }
  
  .topnav a.active {
    background-color: #e6e5ec;
    color: white;
  }